.avisos {
    .avisos-carrousel {
        border-radius: 0.5rem;
        display: flex;
        flex-direction: row;
        overflow-x: scroll;
        overflow-y: hidden;
        scrollbar-width: none;
        -ms-overflow-style: none;
        user-select: none;
        cursor: grab;
        &::-webkit-scrollbar {
            width: 0;
        }
        &.active {
            cursor: grabbing;
        }
        .avisos-item {
            flex-shrink: 0;
            width: 100%;
            height: auto;
            padding: 1rem;
            background-color: $azul-claro;
            border-radius: 0.5rem;
            @include xl {
                width: 25rem !important;
                height: 12rem;
            }
            .avisos-destinatario-remetente {
                font-size: 1.3rem;
                font-weight: 900;
                font-style: italic;
                color: $aurora;
                pointer-events: none;
            }
            .avisos-mensagem {
                font-size: 0.75rem;
                color: $aurora;
                @include text-overflow(5);
                pointer-events: none;
            }
            .avisos-confirmacoes {
                height: 1.8rem;
                margin-top: -0.3rem;
                img {
                    width: 1.8rem;
                    height: 1.8rem;
                    object-fit: cover;
                    object-position: top;
                    border-radius: 22.5rem;
                    background-color: $creme;
                }
                span {
                    font-size: 1.8rem;
                    color: $aurora;
                }
            }
            .avisos-botoes-confirmacoes {
                margin-top: -0.3rem;
                button {
                    width: 1.8rem;
                    height: 1.8rem;
                    border: 0;
                    border-radius: 0.5rem;
                    padding-top: 0.2rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: $aurora;
                    font-size: 1.5rem;
                    color: $azul-medio-seconday;
                }
            }
        }
    }
}
