.minhas-tarefas {
    .minhas-tarefas-carrousel {
        border-radius: 0.5rem;
        display: flex;
        flex-direction: row;
        overflow-x: scroll;
        overflow-y: hidden;
        scrollbar-width: none;
        -ms-overflow-style: none;
        user-select: none;
        cursor: grab;

        &::-webkit-scrollbar {
            width: 0;
        }

        &.active {
            cursor: grabbing;
        }

        .minhas-tarefas-item {
            flex-shrink: 0;
            width: 100%;
            height: auto;
            padding: 1rem;
            background-color: $azul-claro;
            border-radius: 0.5rem;

            @include xl {
                width: 34.5rem;
                height: 9rem;
            }

            .minhas-tarefas-conteudo {
                @include xl {
                    width: 22rem;
                }

                h1 {
                    font-size: 1.3rem;
                    font-weight: 900;
                    font-style: italic;
                    color: $aurora;
                    pointer-events: none;
                }

                p {
                    font-size: 0.8rem;
                    color: $aurora;
                    @include text-overflow(4);
                }
            }

            .minhas-tarefas-datas-e-conclusao {
                .calendario {
                    width: 6.4rem;
                    margin-top: -8rem;
                    float: right;

                    .calendario-topo {
                        width: 100%;
                        height: 1.5rem;
                        background-color: $azul-escuro;
                        border-radius: 0.5rem 0.5rem 0rem 0rem;
                        color: $aurora;
                        font-weight: 900;
                        font-size: 0.9rem;
                        font-style: italic;
                    }

                    .calendario-conteudo {
                        width: 100%;
                        height: 2.5rem;
                        background-color: $aurora;
                        border-radius: 0rem 0rem 0.5rem 0.5rem;
                        font-size: 1.5rem;
                        font-weight: 900;
                        color: $azul-escuro;
                        font-style: italic;
                    }
                }
            }

            .minhas-tarefas-confirmacoes {
                margin-top: -2.5rem;
                float: right;

                button {
                    width: 1.8rem;
                    height: 1.8rem;
                    border: 0;
                    border-radius: 0.5rem;
                    padding-top: 0.2rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: $aurora;
                    font-size: 1.5rem;
                    color: $azul-medio-secondary;
                }
            }
        }

        .minhas-tarefas-item-expiracao {
            @extend .minhas-tarefas-item;
            background-color: $laranja-secondary;

            .minhas-tarefas-conteudo {
                @include xl {
                    width: 20rem;
                }
            }

            .minhas-tarefas-datas-e-conclusao {
                .calendario {
                    width: 6.4rem;
                    margin-top: -8rem;
                    float: right;

                    .calendario-topo {
                        width: 100%;
                        height: 1.5rem;
                        background-color: $vermelho;
                        border-radius: 0.5rem 0.5rem 0rem 0rem;
                        color: $azul-escuro;
                        font-weight: 900;
                        font-size: 0.9rem;
                        font-style: italic;
                    }

                    .calendario-conteudo {
                        width: 100%;
                        height: 2.5rem;
                        background-color: $azul-escuro-secondary;
                        border-radius: 0rem 0rem 0.5rem 0.5rem;
                        font-size: 1.5rem;
                        font-weight: 900;
                        color: $laranja-secondary;
                        font-style: italic;
                    }
                }
            }

            .minhas-tarefas-confirmacoes {
                margin-top: -2.5rem;
                float: right;

                button {
                    width: 11rem;
                    border: 0;
                    padding-top: 0.445rem;
                    border-radius: 22.5rem;
                    background-color: $vermelho;
                    font-size: 0.8rem;
                    font-weight: 900;
                    font-style: italic;
                    text-transform: uppercase;
                    color: $aurora;
                }
            }
        }
    }
}