@use "../../../../base/colors";
@use "../../../../functions/textoverflow";
@use "../../../../layout/breakpoints";

.my-tasks {
    .my-tasks-carrousel {
        border-radius: 0.5rem;
        display: flex;
        flex-direction: row;
        overflow-x: scroll;
        overflow-y: hidden;
        scrollbar-width: none;
        -ms-overflow-style: none;
        user-select: none;
        cursor: grab;
        &::-webkit-scrollbar {
            width: 0;
        }
        &.active {
            cursor: grabbing;
        }
        .my-tasks-item {
            flex-shrink: 0;
            width: 34.5rem;
            height: 9rem;
            padding: 1rem;
            background-color: colors.$azul-claro;
            border-radius: 0.5rem;
            .my-tasks-content {
                width: 20rem;
                h1 {
                    font-size: 1.3rem;
                    font-weight: 900;
                    font-style: italic;
                    color: colors.$aurora;
                    pointer-events: none;
                }
                p {
                    height: 5rem;
                    font-size: 0.8rem;
                    color: colors.$aurora;
                    @include textoverflow.text-overflow(4);
                }
            }
            .my-tasks-dates-and-completion {
                position: relative;
                .calendar {
                    width: 6.4rem;
                    margin-top: -8rem;
                    float: right;
                    .calendar-top {
                        width: 100%;
                        height: 1.5rem;
                        background-color: colors.$azul-escuro;
                        border-radius: 0.5rem 0.5rem 0rem 0rem;
                        color: colors.$aurora;
                        font-weight: 900;
                        font-size: 0.9rem;
                        font-style: italic;
                    }
                    .calendar-content {
                        width: 100%;
                        height: 2.5rem;
                        background-color: colors.$aurora;
                        border-radius: 0rem 0rem 0.5rem 0.5rem;
                        font-size: 1.5rem;
                        font-weight: 900;
                        color: colors.$azul-escuro;
                        font-style: italic;
                    }
                }
            }
            .my-tasks-confirmations {
                margin-top: -2.5rem;
                position: absolute;
                right: 0;
                button {
                    width: 1.8rem;
                    height: 1.8rem;
                    border: 0;
                    border-radius: 0.5rem;
                    padding-top: 0.2rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: colors.$aurora;
                    font-size: 1.5rem;
                    color: colors.$azul-medio-secondary;
                }
            }
        }

        // Tasks that are about to expire
        .my-tasks-expirations {
            @extend .my-tasks-item;
            background-color: colors.$laranja-secondary;
            .my-tasks-content {
                @include breakpoints.xl {
                    width: 20rem;
                }
            }
            .my-tasks-dates-and-completion {
                .calendar {
                    width: 6.4rem;
                    margin-top: -8rem;
                    float: right;
                    .calendar-top {
                        width: 100%;
                        height: 1.5rem;
                        background-color: colors.$vermelho;
                        border-radius: 0.5rem 0.5rem 0rem 0rem;
                        color: colors.$azul-escuro;
                        font-weight: 900;
                        font-size: 0.9rem;
                        font-style: italic;
                    }
                    .calendar-content {
                        width: 100%;
                        height: 2.5rem;
                        background-color: colors.$azul-escuro-secondary;
                        border-radius: 0rem 0rem 0.5rem 0.5rem;
                        font-size: 1.5rem;
                        font-weight: 900;
                        color: colors.$laranja-secondary;
                        font-style: italic;
                    }
                }
            }
            .my-tasks-confirmations {
                button {
                    width: 11rem;
                    border: 0;
                    padding-top: 0.445rem;
                    border-radius: 22.5rem;
                    background-color: colors.$vermelho;
                    font-size: 0.8rem;
                    font-weight: 900;
                    font-style: italic;
                    text-transform: uppercase;
                    color: colors.$aurora;
                }
            }
        }

        // Tasks that are overdue
        .my-tasks-overdue {
            @extend .my-tasks-item;
            background-color: colors.$vermelho;
            .my-tasks-content {
                @include breakpoints.xl {
                    width: 20rem;
                }
            }
            .my-tasks-dates-and-completion {
                .calendar {
                    width: 6.4rem;
                    margin-top: -8rem;
                    float: right;
                    .calendar-top {
                        width: 100%;
                        height: 1.5rem;
                        background-color: colors.$aurora;
                        border-radius: 0.5rem 0.5rem 0rem 0rem;
                        color: colors.$azul-escuro;
                        font-weight: 900;
                        font-size: 0.9rem;
                        font-style: italic;
                    }
                    .calendar-content {
                        width: 100%;
                        height: 2.5rem;
                        background-color: colors.$azul-escuro-secondary;
                        border-radius: 0rem 0rem 0.5rem 0.5rem;
                        font-size: 1.5rem;
                        font-weight: 900;
                        color: colors.$laranja-secondary;
                        font-style: italic;
                    }
                }
            }
            .my-tasks-confirmations {
                button {
                    width: 11rem;
                    border: 0;
                    padding-top: 0.445rem;
                    border-radius: 22.5rem;
                    background-color: colors.$aurora;
                    font-size: 0.8rem;
                    font-weight: 900;
                    font-style: italic;
                    text-transform: uppercase;
                    color: colors.$vermelho;
                }
            }
        }
    }
}