@use "../../../../functions/textoverflow";
@use "../../../../layout/breakpoints";

.warnings {
    .warnings-carrousel {
        border-radius: 0.5rem;
        display: flex;
        flex-direction: row;
        overflow-x: scroll;
        overflow-y: hidden;
        scrollbar-width: none;
        -ms-overflow-style: none;
        user-select: none;
        cursor: grab;
        &::-webkit-scrollbar {
            width: 0;
        }
        &.active {
            cursor: grabbing;
        }
        .warnings-item {
            flex-shrink: 0;
            width: 100%;
            height: auto;
            padding: 1rem;
            background-color: var(--azul-claro);
            border-radius: 0.5rem;
            @include breakpoints.xl {
                width: 25rem !important;
                height: 12rem;
            }
            .warnings-sender {
                font-size: 1.3rem;
                font-weight: 900;
                font-style: italic;
                color: var(--aurora);
                pointer-events: none;
            }
            .warnings-message {
                height: 5.5rem;
                margin-top: -0.1rem;
                font-size: 0.75rem;
                color: var(--aurora);
                @include textoverflow.text-overflow(5);
                pointer-events: none;
            }
            .warnings-peoples-confirmations {
                height: 1.8rem;
                img {
                    width: 1.8rem;
                    height: 1.8rem;
                    object-fit: cover;
                    object-position: top;
                    border-radius: 22.5rem;
                    background-color: var(--creme);
                }
                span {
                    font-size: 1.8rem;
                    color: var(--aurora);
                }
            }
            .warnings-buttons-confirmations {
                margin-top: -0.3rem;
                button {
                    width: 1.8rem;
                    height: 1.8rem;
                    border: 0;
                    border-radius: 0.5rem;
                    padding-top: 0.2rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: var(--aurora);
                    font-size: 1.5rem;
                    color: var(--azul-medio-secondary);
                }
            }
        }
        .warnings-item-completed {
            @extend .warnings-item;
            background-color: var(--verde);
        }
    }
}