:root {
  --aurora: #FFFAF3;
  --aurora-cinza: #e6ded1;
  --creme: #FFE8BF;
  --laranja: #FFA919;
  --azul-escuro: #00061A;
  --azul-medio: #002080;
  --azul-claro: #0091FF;
}

* {
  font-family: "Noto Sans Display", serif;
  font-weight: normal;
}

.app-body {
  background: #000036;
}

.title-default {
  position: relative;
  overflow: hidden !important;
}
.title-default h1 {
  color: #FFA919;
  font-size: 1.3rem;
  font-weight: 900;
  font-style: italic;
  text-transform: uppercase;
}
.title-default h1::after {
  content: "";
  position: absolute;
  width: 100%;
  margin-top: 0.8rem;
  margin-left: 1rem;
  border-bottom: 0.1rem solid #FFA919;
}

.navbar {
  background-color: #FFFAF3;
}
@media (min-width: 1200px) {
  .navbar {
    height: 2.5rem;
  }
}
.navbar .navbar-brand img {
  width: 34px;
}
@media (min-width: 1200px) {
  .navbar .navbar-brand img {
    padding-bottom: 0.14rem;
  }
}
.navbar .navbar-toggler-icon {
  filter: invert(38%) sepia(81%) saturate(1529%) hue-rotate(184deg) brightness(96%) contrast(117%);
}
.navbar .nav-link {
  font-weight: 900 !important;
}
.navbar .nav-link img {
  width: 1.3rem;
}
.navbar .nav-link:hover {
  color: #0091FF;
}
.navbar .nav-link:hover img {
  filter: invert(38%) sepia(81%) saturate(1529%) hue-rotate(184deg) brightness(96%) contrast(117%);
}
.navbar .nav-additional .profile {
  display: none;
}
@media (min-width: 1200px) {
  .navbar .nav-additional .profile {
    display: block;
  }
  .navbar .nav-additional .profile img {
    width: 3.5rem;
    height: 3.5rem;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: top;
       object-position: top;
    background-color: #FFE8BF;
    border-radius: 22.5rem;
    border: 0.4rem solid #FFFAF3;
  }
}

.status {
  width: 100%;
  bottom: 0;
  background-color: #000036;
  border-top: 0.1rem solid #FFA919;
  border-top-width: 80%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  flex-wrap: wrap;
}
@media (min-width: 1200px) {
  .status {
    flex-wrap: nowrap;
  }
}
@media (min-width: 1200px) {
  .status .status-item {
    border-right: 0.1rem solid gray;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .status .status-item:first-child {
    padding-left: 0;
  }
  .status .status-item:last-child {
    border-right: 0;
  }
}
.status .status-item span {
  margin-top: 0.2rem;
  font-size: 1rem;
  font-weight: 500;
  color: #FFA919;
}
.status .status-item img {
  width: 1.5rem !important;
  filter: invert(44%) sepia(44%) saturate(6266%) hue-rotate(189deg) brightness(105%) contrast(104%);
}

.auth {
  position: relative;
  background-image: url("https://i.imgur.com/eKaJC9L.jpeg");
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.auth::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.027);
  z-index: 1;
}
.auth .container {
  position: relative;
  z-index: 3;
}
.auth .container .block-logo {
  margin-bottom: 2rem;
}
.auth .container .block-logo img {
  width: 11rem;
}
.auth .container .block-auth {
  background: #FFFAF3;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}
.auth .container .block-auth form input {
  background-color: #e6ded1;
  border: 0.1rem solid rgb(224, 224, 224);
  border-radius: 0.5rem;
}
.auth .container .block-auth form inputhover {
  border: 0.1rem solid rgb(224, 224, 224);
}
.auth .container .block-auth form button {
  background-color: #0091FF;
  border-radius: 0.5rem;
  color: #FFFAF3;
}
.auth .container .block-credits {
  color: #FFFAF3;
  font-size: 0.9rem;
  font-weight: 400 !important;
}
.auth .container .block-credits a {
  color: #0091FF;
}

.dashboard .wellcome {
  position: relative;
  padding: 0.5rem;
  background-color: #002080;
  border-radius: 0.5rem;
  text-align: center;
  color: #FFA919;
  text-transform: uppercase;
  font-style: italic;
  font-weight: 900;
  font-size: 1.5rem;
}
.dashboard .wellcome img {
  display: none;
}
@media (min-width: 1200px) {
  .dashboard .wellcome img {
    display: initial;
    width: 5rem;
    position: absolute;
    bottom: 0;
    left: 0.5rem;
  }
}
.dashboard .acoes-rapidas .acoes-rapidas-carrousel {
  flex-wrap: wrap;
}
@media (min-width: 1200px) {
  .dashboard .acoes-rapidas .acoes-rapidas-carrousel {
    flex-wrap: nowrap;
  }
}
.dashboard .acoes-rapidas .acoes-rapidas-carrousel button {
  background: none;
  border-left: 0;
  border-top: 0;
  border-bottom: 0;
  font-size: 0.9rem;
  font-weight: 900;
  font-style: italic;
  text-transform: uppercase;
  color: #0091FF;
}
@media (min-width: 1200px) {
  .dashboard .acoes-rapidas .acoes-rapidas-carrousel button {
    padding-right: 1rem;
    border-right: 0.1rem solid gray;
  }
  .dashboard .acoes-rapidas .acoes-rapidas-carrousel button:last-child {
    border-right: 0;
  }
}
.dashboard .acoes-rapidas .acoes-rapidas-carrousel button img {
  width: 1.2rem;
  filter: invert(56%) sepia(73%) saturate(6053%) hue-rotate(188deg) brightness(104%) contrast(108%);
}
.dashboard .warnings .warnings-carrousel {
  border-radius: 0.5rem;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  overflow-y: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: grab;
}
.dashboard .warnings .warnings-carrousel::-webkit-scrollbar {
  width: 0;
}
.dashboard .warnings .warnings-carrousel.active {
  cursor: grabbing;
}
.dashboard .warnings .warnings-carrousel .warnings-item {
  flex-shrink: 0;
  width: 100%;
  height: auto;
  padding: 1rem;
  background-color: #0091FF;
  border-radius: 0.5rem;
}
@media (min-width: 1200px) {
  .dashboard .warnings .warnings-carrousel .warnings-item {
    width: 25rem !important;
    height: 12rem;
  }
}
.dashboard .warnings .warnings-carrousel .warnings-item .warnings-sender {
  font-size: 1.3rem;
  font-weight: 900;
  font-style: italic;
  color: #FFFAF3;
  pointer-events: none;
}
.dashboard .warnings .warnings-carrousel .warnings-item .warnings-message {
  font-size: 0.75rem;
  color: #FFFAF3;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  pointer-events: none;
}
.dashboard .warnings .warnings-carrousel .warnings-item .warnings-peoples-confirmations {
  height: 1.8rem;
  margin-top: -0.3rem;
}
.dashboard .warnings .warnings-carrousel .warnings-item .warnings-peoples-confirmations img {
  width: 1.8rem;
  height: 1.8rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  border-radius: 22.5rem;
  background-color: #FFE8BF;
}
.dashboard .warnings .warnings-carrousel .warnings-item .warnings-peoples-confirmations span {
  font-size: 1.8rem;
  color: #FFFAF3;
}
.dashboard .warnings .warnings-carrousel .warnings-item .warnings-buttons-confirmations {
  margin-top: -0.3rem;
}
.dashboard .warnings .warnings-carrousel .warnings-item .warnings-buttons-confirmations button {
  width: 1.8rem;
  height: 1.8rem;
  border: 0;
  border-radius: 0.5rem;
  padding-top: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFFAF3;
  font-size: 1.5rem;
  color: #000036;
}
.dashboard .my-tasks .my-tasks-carrousel {
  border-radius: 0.5rem;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  overflow-y: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: grab;
}
.dashboard .my-tasks .my-tasks-carrousel::-webkit-scrollbar {
  width: 0;
}
.dashboard .my-tasks .my-tasks-carrousel.active {
  cursor: grabbing;
}
.dashboard .my-tasks .my-tasks-carrousel .my-tasks-item, .dashboard .my-tasks .my-tasks-carrousel .my-tasks-expirations {
  flex-shrink: 0;
  width: 34.5rem;
  height: 9rem;
  padding: 1rem;
  background-color: #0091FF;
  border-radius: 0.5rem;
}
.dashboard .my-tasks .my-tasks-carrousel .my-tasks-item .my-tasks-content, .dashboard .my-tasks .my-tasks-carrousel .my-tasks-expirations .my-tasks-content {
  width: 20rem;
}
.dashboard .my-tasks .my-tasks-carrousel .my-tasks-item .my-tasks-content h1, .dashboard .my-tasks .my-tasks-carrousel .my-tasks-expirations .my-tasks-content h1 {
  font-size: 1.3rem;
  font-weight: 900;
  font-style: italic;
  color: #FFFAF3;
  pointer-events: none;
}
.dashboard .my-tasks .my-tasks-carrousel .my-tasks-item .my-tasks-content p, .dashboard .my-tasks .my-tasks-carrousel .my-tasks-expirations .my-tasks-content p {
  font-size: 0.8rem;
  color: #FFFAF3;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
.dashboard .my-tasks .my-tasks-carrousel .my-tasks-item .my-tasks-dates-and-completion, .dashboard .my-tasks .my-tasks-carrousel .my-tasks-expirations .my-tasks-dates-and-completion {
  position: relative;
}
.dashboard .my-tasks .my-tasks-carrousel .my-tasks-item .my-tasks-dates-and-completion .calendar, .dashboard .my-tasks .my-tasks-carrousel .my-tasks-expirations .my-tasks-dates-and-completion .calendar {
  width: 6.4rem;
  margin-top: -8rem;
  float: right;
}
.dashboard .my-tasks .my-tasks-carrousel .my-tasks-item .my-tasks-dates-and-completion .calendar .calendar-top, .dashboard .my-tasks .my-tasks-carrousel .my-tasks-expirations .my-tasks-dates-and-completion .calendar .calendar-top {
  width: 100%;
  height: 1.5rem;
  background-color: #00061A;
  border-radius: 0.5rem 0.5rem 0rem 0rem;
  color: #FFFAF3;
  font-weight: 900;
  font-size: 0.9rem;
  font-style: italic;
}
.dashboard .my-tasks .my-tasks-carrousel .my-tasks-item .my-tasks-dates-and-completion .calendar .calendar-content, .dashboard .my-tasks .my-tasks-carrousel .my-tasks-expirations .my-tasks-dates-and-completion .calendar .calendar-content {
  width: 100%;
  height: 2.5rem;
  background-color: #FFFAF3;
  border-radius: 0rem 0rem 0.5rem 0.5rem;
  font-size: 1.5rem;
  font-weight: 900;
  color: #00061A;
  font-style: italic;
}
.dashboard .my-tasks .my-tasks-carrousel .my-tasks-item .my-tasks-confirmations, .dashboard .my-tasks .my-tasks-carrousel .my-tasks-expirations .my-tasks-confirmations {
  margin-top: -2.5rem;
  position: absolute;
  right: 0;
}
.dashboard .my-tasks .my-tasks-carrousel .my-tasks-item .my-tasks-confirmations button, .dashboard .my-tasks .my-tasks-carrousel .my-tasks-expirations .my-tasks-confirmations button {
  width: 1.8rem;
  height: 1.8rem;
  border: 0;
  border-radius: 0.5rem;
  padding-top: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFFAF3;
  font-size: 1.5rem;
  color: #000036;
}
.dashboard .my-tasks .my-tasks-carrousel .my-tasks-expirations {
  background-color: #F69700;
}
@media (min-width: 1200px) {
  .dashboard .my-tasks .my-tasks-carrousel .my-tasks-expirations .my-tasks-content {
    width: 20rem;
  }
}
.dashboard .my-tasks .my-tasks-carrousel .my-tasks-expirations .my-tasks-dates-and-completion .calendar {
  width: 6.4rem;
  margin-top: -8rem;
  float: right;
}
.dashboard .my-tasks .my-tasks-carrousel .my-tasks-expirations .my-tasks-dates-and-completion .calendar .calendar-top {
  width: 100%;
  height: 1.5rem;
  background-color: #ED3237;
  border-radius: 0.5rem 0.5rem 0rem 0rem;
  color: #00061A;
  font-weight: 900;
  font-size: 0.9rem;
  font-style: italic;
}
.dashboard .my-tasks .my-tasks-carrousel .my-tasks-expirations .my-tasks-dates-and-completion .calendar .calendar-content {
  width: 100%;
  height: 2.5rem;
  background-color: #000036;
  border-radius: 0rem 0rem 0.5rem 0.5rem;
  font-size: 1.5rem;
  font-weight: 900;
  color: #F69700;
  font-style: italic;
}
.dashboard .my-tasks .my-tasks-carrousel .my-tasks-expirations .my-tasks-confirmations button {
  width: 11rem;
  border: 0;
  padding-top: 0.445rem;
  border-radius: 22.5rem;
  background-color: #ED3237;
  font-size: 0.8rem;
  font-weight: 900;
  font-style: italic;
  text-transform: uppercase;
  color: #FFFAF3;
}
.dashboard .last-posts .last-posts-carrousel {
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 1200px) {
  .dashboard .last-posts .last-posts-carrousel {
    flex-wrap: nowrap;
  }
}
.dashboard .last-posts .last-posts-carrousel .last-posts-item {
  width: 100%;
  height: 11.5rem;
  background-color: #0091FF;
  border-radius: 0.5rem;
  padding: 0.8rem;
}
@media (min-width: 1200px) {
  .dashboard .last-posts .last-posts-carrousel .last-posts-item {
    width: 13.5625rem;
  }
}
.dashboard .last-posts .last-posts-carrousel .last-posts-item .last-posts-title {
  height: 7.5rem;
  font-size: 1rem;
  color: #FFFAF3;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}
.dashboard .last-posts .last-posts-carrousel .last-posts-item .last-posts-author span {
  color: #FFFAF3;
  font-style: italic;
  font-weight: 900;
}
.dashboard .last-posts .last-posts-carrousel .last-posts-item .last-posts-author div a {
  color: #FFFAF3;
  font-size: 1.1rem;
}
.dashboard .last-posts .last-posts-carrousel .last-posts-item .last-posts-author div a img {
  width: 1.1rem;
  filter: invert(86%) sepia(1%) saturate(443%) hue-rotate(1deg) brightness(110%) contrast(102%);
}
.dashboard .calendar {
  margin-bottom: 8rem;
}
.dashboard .calendar .calendar-tags {
  flex-wrap: wrap;
}
@media (min-width: 1200px) {
  .dashboard .calendar .calendar-tags {
    flex-wrap: nowrap;
  }
}
.dashboard .calendar .calendar-tags .calendar-tags-item {
  width: 100%;
  height: 2rem;
  background-color: #0091FF;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFAF3;
  font-weight: 900;
  font-style: italic;
}
.dashboard .calendar .calendar-tags .calendar-tags-item:nth-child(2) {
  background-color: #B82BFF;
}
.dashboard .calendar .calendar-tags .calendar-tags-item:nth-child(3) {
  background-color: #ED3237;
}
.dashboard .calendar .calendar-tags .calendar-tags-item:nth-child(4) {
  background-color: #00A859;
}
.dashboard .calendar .calendar-days {
  flex-wrap: wrap;
}
@media (min-width: 1200px) {
  .dashboard .calendar .calendar-days {
    flex-wrap: nowrap;
  }
}
.dashboard .calendar .calendar-days .calendar-days-item {
  width: 100%;
  color: #FFFAF3;
  font-weight: 900;
  font-style: italic;
}
.dashboard .calendar .calendar-tasks {
  flex-wrap: wrap;
}
@media (min-width: 1200px) {
  .dashboard .calendar .calendar-tasks {
    flex-wrap: nowrap;
  }
}
.dashboard .calendar .calendar-tasks .calendar-tasks-columns {
  width: 100%;
}
.dashboard .calendar .calendar-tasks .calendar-tasks-columns .calendar-tasks-item, .dashboard .calendar .calendar-tasks .calendar-tasks-columns .calendar-tasks-item-podcast, .dashboard .calendar .calendar-tasks .calendar-tasks-columns .calendar-tasks-item-youtube, .dashboard .calendar .calendar-tasks .calendar-tasks-columns .calendar-tasks-item-lives {
  width: 100%;
  background-color: #0091FF;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}
.dashboard .calendar .calendar-tasks .calendar-tasks-columns .calendar-tasks-item span, .dashboard .calendar .calendar-tasks .calendar-tasks-columns .calendar-tasks-item-podcast span, .dashboard .calendar .calendar-tasks .calendar-tasks-columns .calendar-tasks-item-youtube span, .dashboard .calendar .calendar-tasks .calendar-tasks-columns .calendar-tasks-item-lives span {
  display: block;
}
.dashboard .calendar .calendar-tasks .calendar-tasks-columns .calendar-tasks-item span:nth-child(1), .dashboard .calendar .calendar-tasks .calendar-tasks-columns .calendar-tasks-item-podcast span:nth-child(1), .dashboard .calendar .calendar-tasks .calendar-tasks-columns .calendar-tasks-item-youtube span:nth-child(1), .dashboard .calendar .calendar-tasks .calendar-tasks-columns .calendar-tasks-item-lives span:nth-child(1) {
  text-align: center;
  font-size: 1.3rem;
  color: #FFFAF3;
}
.dashboard .calendar .calendar-tasks .calendar-tasks-columns .calendar-tasks-item span:nth-child(3), .dashboard .calendar .calendar-tasks .calendar-tasks-columns .calendar-tasks-item-podcast span:nth-child(3), .dashboard .calendar .calendar-tasks .calendar-tasks-columns .calendar-tasks-item-youtube span:nth-child(3), .dashboard .calendar .calendar-tasks .calendar-tasks-columns .calendar-tasks-item-lives span:nth-child(3) {
  text-align: center;
  font-size: 0.8rem;
  color: #FFFAF3;
}
.dashboard .calendar .calendar-tasks .calendar-tasks-columns .calendar-tasks-item h1, .dashboard .calendar .calendar-tasks .calendar-tasks-columns .calendar-tasks-item-podcast h1, .dashboard .calendar .calendar-tasks .calendar-tasks-columns .calendar-tasks-item-youtube h1, .dashboard .calendar .calendar-tasks .calendar-tasks-columns .calendar-tasks-item-lives h1 {
  margin-top: 0.3rem;
  margin-bottom: 0.5rem;
  font-size: 1.3rem;
  font-weight: 900;
  font-style: italic;
  text-align: center;
  color: #FFFAF3;
}
.dashboard .calendar .calendar-tasks .calendar-tasks-columns .calendar-tasks-item-lives {
  background-color: #B82BFF;
}
.dashboard .calendar .calendar-tasks .calendar-tasks-columns .calendar-tasks-item-youtube {
  background-color: #ED3237;
}
.dashboard .calendar .calendar-tasks .calendar-tasks-columns .calendar-tasks-item-podcast {
  background-color: #00A859;
}/*# sourceMappingURL=panel.css.map */