@charset "UTF-8";
:root {
  --aurora: #FFFAF3;
  --aurora-cinza: #e6ded1;
  --creme: #FFE8BF;
  --laranja: #FFA919;
  --azul-escuro: #00061A;
  --azul-medio: #002080;
  --azul-claro: #0091FF;
}

* {
  font-family: "Noto Sans Display", serif;
  font-weight: normal;
}

.panel-body {
  background: #000036;
}

.title-default {
  position: relative;
  overflow: hidden !important;
}
.title-default h1 {
  color: #FFA919;
  font-size: 1.3rem;
  font-weight: 900;
  font-style: italic;
  text-transform: uppercase;
}
.title-default h1::after {
  content: "";
  position: absolute;
  width: 100%;
  margin-top: 0.8rem;
  margin-left: 1rem;
  border-bottom: 0.1rem solid #FFA919;
}

.navbar {
  background-color: #FFFAF3;
}
@media (min-width: 1200px) {
  .navbar {
    height: 2.5rem;
  }
}
.navbar .navbar-brand img {
  width: 34px;
}
@media (min-width: 1200px) {
  .navbar .navbar-brand img {
    padding-bottom: 0.14rem;
  }
}
.navbar .navbar-toggler-icon {
  filter: invert(38%) sepia(81%) saturate(1529%) hue-rotate(184deg) brightness(96%) contrast(117%);
}
.navbar .nav-link {
  font-weight: 900 !important;
}
.navbar .nav-link img {
  width: 1.3rem;
}
.navbar .nav-link:hover {
  color: #0091FF;
}
.navbar .nav-link:hover img {
  filter: invert(38%) sepia(81%) saturate(1529%) hue-rotate(184deg) brightness(96%) contrast(117%);
}
.navbar .etc .perfil {
  display: none;
}
@media (min-width: 1200px) {
  .navbar .etc .perfil {
    display: block;
  }
  .navbar .etc .perfil img {
    width: 3.5rem;
    height: 3.5rem;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: top;
       object-position: top;
    background-color: #FFE8BF;
    border-radius: 22.5rem;
    border: 0.4rem solid #FFFAF3;
  }
}

.login {
  position: relative;
  background-image: url("https://i.imgur.com/eKaJC9L.jpeg");
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.login::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.027);
  z-index: 1;
}
.login .container {
  position: relative;
  z-index: 2;
}
.login .container .block-logo {
  margin-bottom: 2rem;
}
.login .container .block-logo img {
  width: 11rem;
}
.login .container .block-auth {
  background: #FFFAF3;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}
.login .container .block-auth form input {
  background-color: #e6ded1;
  border: 0.1rem solid rgb(224, 224, 224);
  border-radius: 0.5rem;
}
.login .container .block-auth form inputhover {
  border: 0.1rem solid rgb(224, 224, 224);
}
.login .container .block-auth form button {
  background-color: #0091FF;
  border-radius: 0.5rem;
  color: #FFFAF3;
}
.login .container .block-footer {
  color: #FFFAF3;
  font-size: 0.9rem;
  font-weight: 400 !important;
}
.login .container .block-footer a {
  color: #0091FF;
}

.dashboard .boasVindas {
  position: relative;
  padding: 0.5rem;
  background-color: #002080;
  border-radius: 0.8rem;
  text-align: center;
  color: #FFA919;
  text-transform: uppercase;
  font-style: italic;
  font-weight: 900;
  font-size: 1.5rem;
}
.dashboard .boasVindas img {
  display: none;
}
@media (min-width: 1200px) {
  .dashboard .boasVindas img {
    display: initial;
    width: 5rem;
    position: absolute;
    bottom: 0;
    left: 0.5rem;
  }
}
.dashboard .acoes-rapidas .acoes-rapidas-carrousel {
  flex-wrap: wrap;
}
@media (min-width: 1200px) {
  .dashboard .acoes-rapidas .acoes-rapidas-carrousel {
    flex-wrap: nowrap;
  }
}
.dashboard .acoes-rapidas .acoes-rapidas-carrousel button {
  background: none;
  border-left: 0;
  border-top: 0;
  border-bottom: 0;
  font-size: 0.9rem;
  font-weight: 900;
  font-style: italic;
  text-transform: uppercase;
  color: #0091FF;
}
@media (min-width: 1200px) {
  .dashboard .acoes-rapidas .acoes-rapidas-carrousel button {
    padding-right: 1rem;
    border-right: 0.1rem solid gray;
  }
  .dashboard .acoes-rapidas .acoes-rapidas-carrousel button:last-child {
    border-right: 0;
  }
}
.dashboard .acoes-rapidas .acoes-rapidas-carrousel button img {
  width: 1.2rem;
  filter: invert(56%) sepia(73%) saturate(6053%) hue-rotate(188deg) brightness(104%) contrast(108%);
}
.dashboard .avisos .avisos-carrousel {
  border-radius: 0.8rem;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  overflow-y: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none; /* Desabilita a seleção de texto */
  cursor: grab;
}
.dashboard .avisos .avisos-carrousel::-webkit-scrollbar {
  width: 0;
}
.dashboard .avisos .avisos-carrousel.active {
  cursor: grabbing;
}
.dashboard .avisos .avisos-carrousel .avisos-item {
  flex-shrink: 0;
  width: 100%;
  height: auto;
  padding: 1rem;
  background-color: #0091FF;
  border-radius: 0.8rem;
}
@media (min-width: 1200px) {
  .dashboard .avisos .avisos-carrousel .avisos-item {
    width: 25rem !important;
    height: 12rem;
  }
}
.dashboard .avisos .avisos-carrousel .avisos-item .avisos-destinatario-remetente {
  font-size: 1.3rem;
  font-weight: 900;
  font-style: italic;
  color: #FFFAF3;
  pointer-events: none;
}
.dashboard .avisos .avisos-carrousel .avisos-item .avisos-mensagem {
  font-size: 0.75rem;
  color: #FFFAF3;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  pointer-events: none;
}
.dashboard .avisos .avisos-carrousel .avisos-item .avisos-confirmacoes {
  height: 1.8rem;
  margin-top: -0.3rem;
}
.dashboard .avisos .avisos-carrousel .avisos-item .avisos-confirmacoes img {
  width: 1.8rem;
  height: 1.8rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  border-radius: 22.5rem;
  background-color: #FFE8BF;
}
.dashboard .avisos .avisos-carrousel .avisos-item .avisos-confirmacoes span {
  font-size: 1.8rem;
  color: #FFFAF3;
}
.dashboard .avisos .avisos-carrousel .avisos-item .avisos-botoes-confirmacoes {
  margin-top: -0.3rem;
}
.dashboard .avisos .avisos-carrousel .avisos-item .avisos-botoes-confirmacoes button {
  width: 1.8rem;
  height: 1.8rem;
  border: 0;
  border-radius: 0.5rem;
  padding-top: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFFAF3;
  font-size: 1.5rem;
  color: #000036;
}
.dashboard .minhas-tarefas .minhas-tarefas-carrousel {
  border-radius: 0.8rem;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  overflow-y: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none; /* Desabilita a seleção de texto */
  cursor: grab;
}
.dashboard .minhas-tarefas .minhas-tarefas-carrousel::-webkit-scrollbar {
  width: 0;
}
.dashboard .minhas-tarefas .minhas-tarefas-carrousel.active {
  cursor: grabbing;
}
.dashboard .minhas-tarefas .minhas-tarefas-carrousel .minhas-tarefas-item {
  flex-shrink: 0;
  width: 100%;
  height: auto;
  padding: 1rem;
  background-color: #0091FF;
  border-radius: 0.8rem;
}
@media (min-width: 1200px) {
  .dashboard .minhas-tarefas .minhas-tarefas-carrousel .minhas-tarefas-item {
    width: 34.5rem;
    height: 9rem;
  }
}
@media (min-width: 1200px) {
  .dashboard .minhas-tarefas .minhas-tarefas-carrousel .minhas-tarefas-item .minhas-tarefas-conteudo {
    width: 22rem;
  }
}
.dashboard .minhas-tarefas .minhas-tarefas-carrousel .minhas-tarefas-item .minhas-tarefas-conteudo h1 {
  font-size: 1.3rem;
  font-weight: 900;
  font-style: italic;
  color: #FFFAF3;
  pointer-events: none;
}
.dashboard .minhas-tarefas .minhas-tarefas-carrousel .minhas-tarefas-item .minhas-tarefas-conteudo p {
  font-size: 0.8rem;
  color: #FFFAF3;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
.dashboard .minhas-tarefas .minhas-tarefas-carrousel .minhas-tarefas-item .minhas-tarefas-datas-e-conclusao .calendario {
  width: 6.4rem;
  margin-top: -8rem;
  float: right;
}
.dashboard .minhas-tarefas .minhas-tarefas-carrousel .minhas-tarefas-item .minhas-tarefas-datas-e-conclusao .calendario .calendario-topo {
  width: 100%;
  height: 1.5rem;
  background-color: #00061A;
  border-radius: 0.5rem 0.5rem 0rem 0rem;
  color: #FFFAF3;
  font-weight: 900;
  font-size: 0.9rem;
  font-style: italic;
}
.dashboard .minhas-tarefas .minhas-tarefas-carrousel .minhas-tarefas-item .minhas-tarefas-datas-e-conclusao .calendario .calendario-conteudo {
  width: 100%;
  height: 2.5rem;
  background-color: #FFFAF3;
  border-radius: 0rem 0rem 0.5rem 0.5rem;
  font-size: 1.5rem;
  font-weight: 900;
  color: #00061A;
  font-style: italic;
}
.dashboard .minhas-tarefas .minhas-tarefas-carrousel .minhas-tarefas-item .minhas-tarefas-confirmacoes {
  margin-top: -2.5rem;
  float: right;
}
.dashboard .minhas-tarefas .minhas-tarefas-carrousel .minhas-tarefas-item .minhas-tarefas-confirmacoes button {
  width: 1.8rem;
  height: 1.8rem;
  border: 0;
  border-radius: 0.5rem;
  padding-top: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFFAF3;
  font-size: 1.5rem;
  color: #000036;
}
.dashboard .minhas-tarefas .minhas-tarefas-carrousel .minhas-tarefas-item-expiracao {
  flex-shrink: 0;
  width: 100%;
  height: auto;
  padding: 1rem;
  background-color: #F69700;
  border-radius: 0.8rem;
}
@media (min-width: 1200px) {
  .dashboard .minhas-tarefas .minhas-tarefas-carrousel .minhas-tarefas-item-expiracao {
    width: 37rem;
    height: 9rem;
  }
}
@media (min-width: 1200px) {
  .dashboard .minhas-tarefas .minhas-tarefas-carrousel .minhas-tarefas-item-expiracao .minhas-tarefas-conteudo {
    width: 22rem;
  }
}
.dashboard .minhas-tarefas .minhas-tarefas-carrousel .minhas-tarefas-item-expiracao .minhas-tarefas-conteudo h1 {
  font-size: 1.3rem;
  font-weight: 900;
  font-style: italic;
  color: #FFFAF3;
  pointer-events: none;
}
.dashboard .minhas-tarefas .minhas-tarefas-carrousel .minhas-tarefas-item-expiracao .minhas-tarefas-conteudo p {
  font-size: 0.8rem;
  color: #FFFAF3;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
.dashboard .minhas-tarefas .minhas-tarefas-carrousel .minhas-tarefas-item-expiracao .minhas-tarefas-datas-e-conclusao .calendario {
  width: 6.4rem;
  margin-top: -8rem;
  float: right;
}
.dashboard .minhas-tarefas .minhas-tarefas-carrousel .minhas-tarefas-item-expiracao .minhas-tarefas-datas-e-conclusao .calendario .calendario-topo {
  width: 100%;
  height: 1.5rem;
  background-color: #ED3237;
  border-radius: 0.5rem 0.5rem 0rem 0rem;
  color: #00061A;
  font-weight: 900;
  font-size: 0.9rem;
  font-style: italic;
}
.dashboard .minhas-tarefas .minhas-tarefas-carrousel .minhas-tarefas-item-expiracao .minhas-tarefas-datas-e-conclusao .calendario .calendario-conteudo {
  width: 100%;
  height: 2.5rem;
  background-color: #000036;
  border-radius: 0rem 0rem 0.5rem 0.5rem;
  font-size: 1.5rem;
  font-weight: 900;
  color: #F69700;
  font-style: italic;
}
.dashboard .minhas-tarefas .minhas-tarefas-carrousel .minhas-tarefas-item-expiracao .minhas-tarefas-confirmacoes {
  margin-top: -2.5rem;
  float: right;
}
.dashboard .minhas-tarefas .minhas-tarefas-carrousel .minhas-tarefas-item-expiracao .minhas-tarefas-confirmacoes button {
  border: 0;
  border-radius: 22.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ED3237;
  font-size: 0.8rem;
  font-weight: 900;
  font-style: italic;
  text-transform: uppercase;
  color: #FFFAF3;
}
.dashboard .ultimas-materias .ultimas-materias-carrousel {
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 1200px) {
  .dashboard .ultimas-materias .ultimas-materias-carrousel {
    flex-wrap: nowrap;
  }
}
.dashboard .ultimas-materias .ultimas-materias-carrousel .ultimas-materias-item {
  width: 100%;
  height: 11rem;
  background-color: #0091FF;
  border-radius: 0.8rem;
  padding: 0.8rem;
}
@media (min-width: 1200px) {
  .dashboard .ultimas-materias .ultimas-materias-carrousel .ultimas-materias-item {
    width: 13.5625rem;
  }
}
.dashboard .ultimas-materias .ultimas-materias-carrousel .ultimas-materias-item .ultimas-materias-titulo {
  height: 7.1rem;
  font-size: 1rem;
  color: #FFFAF3;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}
.dashboard .ultimas-materias .ultimas-materias-carrousel .ultimas-materias-item .ultimas-materias-autor span {
  color: #FFFAF3;
  font-style: italic;
  font-weight: 900;
}
.dashboard .ultimas-materias .ultimas-materias-carrousel .ultimas-materias-item .ultimas-materias-autor div a {
  color: #FFFAF3;
  font-size: 1.1rem;
}
.dashboard .ultimas-materias .ultimas-materias-carrousel .ultimas-materias-item .ultimas-materias-autor div a img {
  width: 1.1rem;
  filter: invert(86%) sepia(1%) saturate(443%) hue-rotate(1deg) brightness(110%) contrast(102%);
}/*# sourceMappingURL=panel.css.map */