.boasVindas{
    padding: 0.5rem;
    border: 0.3rem solid $azul-claro;
    border-radius: 0.8rem;
    text-align: center;
    color: $laranja;
    text-transform: uppercase;
    font-style: italic;
    font-weight: 900;
    font-size: 1.5rem;
}

.avisos-para-equipe{
    .avisos-carrousel{
        flex-wrap: wrap;
        @include xl{
            flex-wrap: nowrap;
        }
        .avisos-item{
            width: 100%;
            height: 12rem;
            padding: 1rem;
            background-color: $azul-claro;
            border-radius: 0.3rem;
            .avisos-destinatario{
                font-size: 1.3rem;
                font-weight: 900;
                color: $aurora;
            }
            .avisos-mensagem{
                font-size: 0.8rem;
                color: $aurora;
                @include text-overflow(6);
            }
        }
    }
}