.boasVindas{
    padding: 0.5rem;
    border: 0.3rem solid $azul-claro;
    border-radius: 0.8rem;
    text-align: center;
    color: $laranja;
    text-transform: uppercase;
    font-style: italic;
    font-weight: 900;
    font-size: 1.5rem;
}