$aurora: #FFFAF3;
$aurora-cinza: #e6ded1;
$creme: #FFE8BF;
$laranja: #FFA919;
$azul-escuro: #00061A;
$azul-medio: #002080;
$azul-claro: #0091FF;

:root {
    --aurora: #FFFAF3;
    --aurora-cinza: #e6ded1;
    --creme: #FFE8BF;
    --laranja: #FFA919;
    --azul-escuro: #00061A;
    --azul-medio: #002080;
    --azul-claro: #0091FF;
}