:root {
    --background: #000036;

    --aurora: #FFFAF3;
    --aurora-cinza: #e6ded1;
    --creme: #FFE8BF;
    --vermelho: #ED3237;
    --laranja: #FFA919;
    --laranja-secondary: #F69700;
    --azul-escuro: #00061A;
    --azul-medio: #002080;
    --azul-medio-secondary: #000036;
    --azul-claro: #0091FF;
    --roxo: #B82BFF;
    --verde: #00A859;
}