$aurora: #FFF6E6;
$creme: #FFE8BF;
$laranja: #FFA919;
$dark-blue: #00061A;
$azul-medio: #002080;
$azul-claro: #0091FF;

:root {
    --aurora: #FFF6E6;
    --creme: #FFE8BF;
    --laranja: #FFA919;
    --dark-blue: #00061A;
    --azul-medio: #002080;
    --azul-claro: #0091FF;
}