@use "../../layout/breakpoints";

.status {
    width: 100%;
    bottom: 0;
    background-color: var(--azul-medio-secondary);
    border-top: 0.1rem solid var(--laranja);
    border-top-width: 80%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    flex-wrap: wrap;

    @include breakpoints.xl {
        flex-wrap: nowrap;
    }

    .status-item {
        @include breakpoints.xl {
            border-right: 0.1rem solid gray;
            padding-left: 1rem;
            padding-right: 1rem;

            &:first-child {
                padding-left: 0;
            }

            &:last-child {
                border-right: 0;
            }
        }

        span {
            margin-top: 0.2rem;
            font-size: 1rem;
            font-weight: 500;
            color: var(--laranja);
        }

        img {
            width: 1.5rem !important;
            filter: invert(44%) sepia(44%) saturate(6266%) hue-rotate(189deg) brightness(105%) contrast(104%);
        }
    }
}