.alternator {
    .default {
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 0.3rem;
        padding-bottom: 0.2rem;
        border-radius: 0.5rem;
        background: none;
        outline: none;
        font-weight: 900;
        font-style: italic;
        text-transform: uppercase;
        font-size: 1.2rem;
    }
    .button-posts {
        @extend .default;
        border: 0.2rem solid var(--azul-claro);
        color: var(--azul-claro);
    }
    .button-reviews {
        @extend .default;
        border: 0.2rem solid var(--roxo);
        color: var(--roxo);
    }
    .button-eventos {
        @extend .default;
        border: 0.2rem solid var(--laranja-terciary);
        color: var(--laranja-terciary);
    }
}