.block-auth {
    background: var(--aurora);
    border-radius: 0.5rem;
    margin-bottom: 1rem;

    form {
        input {
            background-color: var(--aurora)-cinza;
            border: 0.1rem solid rgb(224, 224, 224);
            border-radius: 0.5rem;

            &hover {
                border: 0.1rem solid rgb(224, 224, 224);
            }
        }

        button {
            background-color: var(--azul-claro);
            border-radius: 0.5rem;
            color: var(--aurora);
        }
    }
}